In [1]:
# Random Forest Classification         , 
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
df= read_csv("C:/Users/rohan/Downloads/Company_Data.csv")

In [4]:

df = pd.get_dummies(df, columns =['ShelveLoc','Urban','US'])

In [5]:
df['sales']='small'
df.loc[df['Sales'] > 7.5,'sales'] = "large"
df.drop(['Sales'], axis=1,inplace = True)

In [6]:
array = df.values

In [7]:
df.columns

Index(['CompPrice', 'Income', 'Advertising', 'Population', 'Price', 'Age',
       'Education', 'ShelveLoc_Bad', 'ShelveLoc_Good', 'ShelveLoc_Medium',
       'Urban_No', 'Urban_Yes', 'US_No', 'US_Yes', 'sales'],
      dtype='object')

In [8]:
x = array[:,0:14]
y = array[:,14]

In [9]:
x_train,x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [10]:
# Applying RF
num_trees = 100
max_features = 3    #
kfold = KFold(n_splits=10)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features) 
model.fit(x_train,y_train)
pred = model.predict(x_test)

confusion_matrix(y_test, pred)

array([[48, 17],
       [ 9, 46]], dtype=int64)

In [11]:
results = cross_val_score(model, x,y, cv=kfold)
print(results.mean())
results

0.7875

array([0.8  , 0.85 , 0.625, 0.825, 0.75 , 0.875, 0.75 , 0.775, 0.75 ,
       0.875])

In [12]:
model.fit(x_train, y_train)

RandomForestClassifier(max_features=3)

In [14]:
pred = model.predict(x_test)
pred

array(['large', 'small', 'small', 'large', 'small', 'small', 'large',
       'small', 'large', 'large', 'small', 'large', 'large', 'small',
       'small', 'large', 'small', 'large', 'large', 'large', 'small',
       'large', 'small', 'large', 'large', 'large', 'small', 'small',
       'large', 'small', 'small', 'large', 'large', 'large', 'small',
       'large', 'small', 'small', 'large', 'small', 'small', 'large',
       'small', 'large', 'large', 'small', 'small', 'large', 'large',
       'small', 'small', 'small', 'small', 'large', 'small', 'large',
       'large', 'large', 'large', 'large', 'small', 'small', 'small',
       'small', 'large', 'small', 'large', 'small', 'large', 'small',
       'small', 'large', 'small', 'large', 'small', 'large', 'large',
       'large', 'small', 'large', 'small', 'small', 'large', 'small',
       'small', 'large', 'small', 'small', 'small', 'large', 'small',
       'small', 'large', 'large', 'small', 'small', 'large', 'large',
       'small', 'small', 'small', 'small', 'large', 'small', 'large',
       'small', 'large', 'small', 'small', 'small', 'large', 'large',
       'large', 'small', 'large', 'large', 'small', 'small', 'large',
       'small'], dtype=object)

In [15]:
data = pd.DataFrame({ "actual":y_test,"prection":pred})
data

    actual prection
0    large    large
1    small    small
2    large    small
3    large    large
4    small    small
..     ...      ...
115  large    large
116  large    small
117  large    small
118  small    large
119  small    small

[120 rows x 2 columns]

In [16]:
# Feature impotance
df1 = df.columns

In [17]:
df1= df1.drop(['sales'])

In [18]:
feature = model.feature_importances_

In [19]:
data = pd.DataFrame({'columns':df1,"importance":feature})
data.sort_values("importance",ascending=False)

             columns  importance
4              Price    0.232041
0          CompPrice    0.117112
5                Age    0.110800
2        Advertising    0.104945
1             Income    0.093164
8     ShelveLoc_Good    0.088132
3         Population    0.086714
6          Education    0.055019
7      ShelveLoc_Bad    0.042464
9   ShelveLoc_Medium    0.022760
12             US_No    0.013924
13            US_Yes    0.012547
11         Urban_Yes    0.011768
10          Urban_No    0.008611